#navbar .logo {
    float: none;
    text-align: center;
    font-size: 30px;
  }
  #navbar ul {
    float: none;
    margin: 10px;
  } 
  #navbar ul li {
    float: none;
    overflow: auto;
    padding: 5px;
  }
  #navbar ul li a {
    padding: 10px;
  }
  .box {
    width: 100%;
    float: none;
  }
  #home-info .hide {
    display: none;
  }
  .cl {
    width: 100%;
    float: none;
  }
  .cl img {
    width: 100%;
    border-radius: 50%;
  }